7.1 Paquetes.txt
7.2 Subir a un repositorio de github.txt
7.3 Módulos.txt
7.4 Importar paquetes de terceros.txt
7.5 Versionamiento.txt
7.6 Actualizar una dependencia versión menor.txt
7.7 Actualizar una dependencia versión mayor.txt
7.8 Limpiar dependencias no usadas.txt